<div class="description">
<h1>このアプリの使い方</h1>
<h2>①部位登録</h2>
<p>　まずは、部位(お薬を塗る場所)を登録しましょう。ヘッダーのリンクから部位一覧をクリックし、部位を追加ボタンを押します。</p>
<ul>
<li>部位名(入力必須)・・・お薬を塗る場所です。例：首、顔など　飲み薬や保湿剤はそのまま飲み薬、保湿剤と入力してください</li>
<li>お薬名・・・お薬の名前です。こちらを入力しておくと、本日のお薬一覧でお薬名が表示されます。例：ネリゾナ、 アルメタなど</li>
<li>頻度(入力必須)・・・お薬を塗る頻度です。</li>
<li>朝昼夜(入力必須)・・・お薬を塗る時間帯です。塗る時間帯にチェックを入れてください(複数入力可)。</li>
<li>プロアクティブモード・・・一定間隔で自動でお薬を塗る頻度を1日ずつ伸ばしてくれるモードです。</li>
<li>更新間隔・・・例えば7なら一週間ごとにお薬を塗る頻度を伸ばしてくれます。</li>
</ul>
<p>　登録が完了したら、部位一覧に追加されます。</p>
<h2>②本日のお薬(トップページ)</h2>
<p>　薬を登録したら、本日のお薬(トップページ)に、今日塗る予定のお薬の一覧が表示されます。朝昼夜ごとに分かれており、それぞれ塗りましたボタンを押すことで塗った記録を保存することができます。また、塗らなかった薬は塗るまでは翌日以降もリストに残ります。例えば1/1から1日おきの設定で塗り始めた薬を1/3に塗らなかった場合は、1/4以降もリストに表示されます。
午前3時59分までは前日の夜とカウントされます。午前4時から午前11時59分は、前日の夜の薬の塗り忘れが表示されます。塗りましたボタンを押すと朝に塗った記録が残ります。</p>
<h2>③記録一覧</h2>
<p>　ヘッダーのリンクから記録一覧のページに飛ぶと、薬を塗った記録を見ることができます。その日に塗った回数によって塗りつぶされる色が異なります。かゆみが記録された日は赤色になっています。</p>
<h2>④部位一覧</h2>
<p>　部位一覧では、部位の追加、編集、削除、今日塗るリストに追加を行うことができます。</p>
<ul>
<li>編集・・・部位情報を編集できます。</li>
<li>削除・・・部位が削除されます。記録一覧からも削除されるので気をつけてください。</li>
<li>かゆい・・・かゆみが記録されます。記録一覧で確認できます。また、その部位の間隔が毎日にリセットされます。</li>
</ul>
<h2>⑤ユーザー情報変更</h2>
<p>　ユーザー情報を変更することができます。</p>
</div>