@import "bootstrap-sprockets";
@import "bootstrap";

.top{
    padding-top:100px;
    color:black;
}

header{
    background-color:white;
}

body{
    background-color:#eedcb3;
}

.content{
    padding-top:100px;
}