@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

header{
    background-color:white;
}

.nav-content{
    margin-top:12px;
}

body{
    background-color:#eee9e6;
    font-family: 'Kiwi Maru', serif;
}

.content{
    padding-top:100px;
}


/* 記録一覧　*/
table, td, th { border: 2px #808080 solid; }

table{
    width:100%;
}

td {white-space: nowrap;}

.light-skyblue{
    color:#8AE7F2;
    background-color:#8AE7F2;
}

.dark-skyblue{
    color:#51B1EC;
    background-color:#51B1EC;
}

.blue{
    color:#1C63E6;
    background-color:#1C63E6;
}

/* 部位一覧　*/

.region-list{
    margin-top:10px;
}

.btn-edit{
    margin-top:5px;
    margin-bottom:5px;
}